<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="UnifyedX.CustomerOnboarding.Tests.OnboardingStep1TEST"/>
      <class name="UnifyedX.CustomerOnboarding.Tests.OnboardingStep2TEST"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
